.record_1{color:#bbb;font-size:14px}
.record_2{color: #565755;font-size: 13px;}
#section5{background-image:url(../image/th.jpg);background-position:center;background-attachment:fixed;background-repeat:no-repeat}
